@font-face {
  src: url("../src/Fonts/FontsFree-Net-SFProDisplay-Regular.ttf") format("ttf");
  font-family: "SF Pro Display";
}

body {
  margin: 0;
  font-family: "SF Pro Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(229, 229, 229, 0.08);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
